body{
  height: 100%;
}
.header{
  margin-top: 5%;
}
.header img.ceis-logo{
  height: 6rem;
  weight: auto;
}
.header .ceis-text{
  color: #F0679E;
  margin-left: 5px;
}
.sub-header{
  margin-top: 5px;
}
.textfield-1{
  margin: 25px 0 25px 0;
}
